<div class="row">
    <div class="column medium-3">
        <ul>
            <li ng-repeat="client in clients"
                ng-click="getClient($event)"
                data-room="{{ client.socketId }}">
                {{ client.name }}
            </li>
        </ul>
    </div>
    <div class="column medium-9">
        <ul>
            <li ng-repeat="message in messages">
                <span>{{ message.user }}:</span> {{ message.message }}
            </li>
        </ul>
        <form ng-submit="sendMessage()">
            <input type="text" ng-model="message">
            <input type="submit">
        </form>

        <message-box></message-box>
    </div>
</div>